language: go

os:
  - linux
  - osx

go:
  - 1.9.x
  - 1.10.x
  - master

matrix:
  allow_failures:
    - go: master

before_install:
  - go get -t -v ./...

script:
  - go test -coverprofile=encoding.cov github.com/cstockton/go-trace/encoding
  - go test -coverprofile=trace.cov github.com/cstockton/go-trace

after_success:
  - bash <(curl -s https://codecov.io/bash) -f "*.cov"
